@media only screen and (max-width: 600px) {
    div.navBar {
        width: 100%;
        height: 17vw;
    }
    div.navBar .menu {
        background-color: rgb(66, 66, 63);
        /* border-bottom: 0.1vw solid rgb(211, 202, 202); */
        display: none;
        width: 100%;
        text-align: center;
    }
    div.navBar .menu a {
        /* background/-color: blue; */
        display: block;
        border-bottom: 0.01vw solid rgb(241, 234, 234);
        clear: right;
        padding: 1.5vw;
        font-size: 5vw;
    }
    div.navBar .menu a::before {
        position: relative;
    }
    div.navBar label {
        /* background-color: blue; */
        /* align-self: center; */
        /* justify-self: center; */
        font-size: 10vw;
        display: block;
        margin-top: 1%;
        margin-right: 2%;
        /* text-align: right; */
        float: right;
        cursor: pointer;
    }
    div.navBar label:hover {
        color: rgb(34, 21, 21);
    }
    div.navBar #toggle:checked + .menu {
        display: block;
    }
    div.decoText {
        width: 100%;
        height: 100%;
        margin-top: 20%;
    }
    div.decoBoxh1 {
        width: 100%;
        height: 20vw;
        margin-left: 0%;
    }
    div.decoBoxh1 h1{
        text-align: center;
        font-size: 6vw;
        text-shadow: 0.3vw 0.3vw 0.3vw #b8f807;
        word-spacing: 0vw;
        letter-spacing: 0.2vw;
    }
    div.decoBoxh3 {
        display: block;
        position: relative;
        width: 100%;
        height: 30vw;
        border-radius: 1%;
        margin-top: 8%;
        margin-left: 0%;
        box-shadow: 2px 2px 5px #ca1d48;
        /* margin-right: 0%; */
    }
    div.decoBoxh3 h3 {
        text-align: center;
        font-size: 5vw;
        text-shadow: 0.3vw 0.3vw 0.3vw #b8f807;
        line-height: 4vw;
        margin-left: 10%;
    }

    div.appSection {
        grid-template-areas: 'header header header  header header'
                              'main main mRight mRight mRight'
                              'main main mRight mRight mRight'
                              'main main mRight mRight mRight'
                             'footer footer footer footer footer';
        /* margin-bottom: 5%; */
        margin-top: 50%;
    }
    div.appSection .hContainerApp {
        grid-area: header;
        width: 20vw;
        height: 10vw;
    }
    div.appSection .hContainerApp h2 {
        font-size: 4vw;
    }
    div.appSection .gameCard {
        grid-area: main;
    }
        div.appSection .gameCard img {
            width: 70vw;
            margin-bottom: 0%;
        }
    div.appSection .info {
        grid-area: mRight;
    }
    div.appSection .secTitle {
        /* background-color: aqua; */
        grid-area: footer;
        /* display: inline-block; */
        border-top: 0.1vw dashed  rgb(226, 145, 24);
        margin-top: 3%;
        width: 100%;
        height: auto;
    }
    div.appSection .secTitle .icon img {
        margin-top: 5%;
        margin-bottom: 5%;
        width: 15%;
    }
    div.appSection .secTitle .appstore img {
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 20%;
        width: 20%;
    }

    div.artGalleryCard {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-auto-flow: row;
        margin-top: 10%;
    }
    div.artSection .hContainerArtwork {
        width: 20vw;
        height: 10vw;
    }
    div.artSection .hContainerArtwork h2 {
        font-size: 4vw;
    }
    div.artSection .collapsible p {
        font-size: 8vw;
        text-shadow: #b8f807 0.3vw 0.3vw 0.2vw;  
    }
}